{%extends "registration/base.html"%} 
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid pb-5" style="background:linear-gradient(rgba(146, 147, 153, 0.52), rgba(46, 39, 44, 0.73)),url('../../../media/8.webp'); height: 100%; background-size: cover; background-position: center;"> 
    <div class="row">
        
        <div class="col-lg-4"></div>

        <div class="col-lg-4 pt-2 pb-2 mt-4 text-white">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
            {{ message }}
            </div>
            {% endfor %}
            {% endif %}
                
            {% if form.errors %}
                <p> Some Information Might be Incorrect </p>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center font-weight-bold">Sign Up</h3>
                </div>

                <div class="panel-body">
                    <form  action="/accounts/register/" method="post">
                        {% csrf_token %}

                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-sm" value="Sign Up">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>

            </div>
            <small>Already a member? <a href="/accounts/login">Login Here!</a></small>
        </div>    
        <br> <br> <br> <br>    
       
        <div class="col-lg-4"></div>
    </div>
</div>
{% endblock %}